= form_with(model: item, local: true) do |form|
  = form.text_field :image, placeholder: "Image Url"
  = form.text_area :memo, pleaceholder: "memo", rows: "10"
  = form.submit "SEND"

= form_for @post do |f|
  = f.file_field :img
  = f.submit 'アップロードする'